.container
  %section
    .row.reservation-details
      .col-sm-12
        %h2
          Reservation Details
          %br/
          %small Please enter meeting title:
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th Building:
                %th Meeting Room:
                %th Start Date:
                %th End Date:
            %tbody
              %tr
                %td= @reservation.meeting_room.building.name
                %td= @reservation.meeting_room.name
                %td= @reservation.begin_at.to_formatted_s(:long)
                %td= @reservation.ends_at.to_formatted_s(:long)
  %section
    .row.meeting-details
      .col-sm-12
        = form_for @reservation, url: reservations_path, html: { class: 'form-horizontal' } do |f|
          .row.well
            .col-sm-12
              %fieldset
                .form-group
                  = f.label :title, class: 'col-sm-2 control-label'
                  .col-sm-10
                    = f.text_field :title, class: 'form-control'
          .row
            .col-sm-12
              = f.hidden_field :meeting_room_id
              = f.hidden_field :begin_at
              = f.hidden_field :ends_at
              = f.submit 'Create reservation', class: 'btn btn-primary'
